<% if session[:user_id] %>

  <ul class="nav nav-pills" role="tablist">
    <li role="presentation"><a href="/logout">Logout</a></li>
    <li role="presentation"><a href="/songs/new">Add New Song</a></li>
    <li role="presentation"><a href="/songs/topten/">Top Ten Songs</a></li>
    <li role="presentation"><a href="/songs/">See All Songs</a></li>
  </ul>

<!-- <p>
<%if @vote && @vote.errors.any? %>
  <div>ERROR:
      <% @vote.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    </ul>
  </div>
<% end %> -->

<p>
<%if @review && @review.errors.any? %>
  <div>ERROR:
      <% @review.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="well">
  <h3>
    Song: <%= @song.song_title %><br />
    Votes: <%= @song.votes.count %>
  </h3>

  <p>
    by: <%= @song.author %><br />
    <% if @song.user_id %>
      posted by: <%= User.find_by(id: @song.user_id).username %>
    <% end %>
  </p>

  <p>
    <% if @song.url? %>
      <a href ='<%= @song.url %>'><%= @song.url %></a>
    <% end %>
  </p>

  <% unless @song.votes.find_by(user_id: session[:user_id]) %>
  <div class = "form">
    <form method = "post" action = "/votes">

      <input type="hidden" name="song_id" value="<%= @song.id %>" />
      <input type="hidden" name="user_id" value="<%= session[:user_id] %>" />
      <input type = "submit" class="btn btn-xs btn-primary" value = "upvote">
  <!-- TODO Implement downvote -->
      <!-- <input type = "submit" class="btn btn-xs btn-primary" value = "downvote"> -->

    </form>
  </div>
</div>
<% end %>

<% unless @song.reviews.find_by(user_id: session[:user_id]) %>
  <div class ="well">
    <div class = "form">
      <form method = "post" action = "/reviews" id="testformid">
      <label>Rate out of five stars:&nbsp;&nbsp;</label><%= erb :"songs/_stars" %>
        <input type="hidden" name="song_id" value="<%= @song.id %>" />
        <input type="hidden" name="user_id" value="<%= session[:user_id] %>" />
        <textarea form ="testformid" rows="5" class= "form-control" name ="content" value = "<%= @review && @review.content %>"></textarea>
        <input type="submit" class ="btn btn-primary" value = "submit review">

      </form>
    </div>
  </div>
<% end %>


<div class ="well">
  <% if Review.find_by(song_id: @song.id) %>
    <strong>Reviews:</strong>
    <p>
    <% Review.where(song_id: @song.id).each do |review| %>
      <div class = "review">
      Rating:&nbsp;<%= review.rating %>
      <p><%= review.content %></a> <small>(by: <%= User.find_by(id: review.user_id).username %> at <%= review.created_at %>)</small></p>
        <% if review.user_id == session[:user_id] %> 
          <div class = "form">
          <form method = "post" action = "/deletereview">
          <input type="hidden" name="review_id" value="<%= review.id %>">
          <input type="submit" class ="btn btn-xs btn-primary" value = "delete">
          </form>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
<% if @song.user_id %>
  <div class ="well">
  
    <strong>See all songs posted by <%= User.find_by(id: @song.user_id).username %>:</strong>

    <% Song.where(user_id: session[:user_id]).each do |song| %>
      <div class = "song">
        <big>(<%= song.votes.count %></big> votes)  <a href = "/songs/<%= song.id %>"><%= song.song_title %></a> <small>(by: <%= song.author %>)</small></h3>
      </div>
   <% end %>
  </div>
<% end %>

<% else %>

  <ul class="nav nav-pills" role="tablist">
    <li role="presentation"><a href="/login">Login</a></li>
    <li role="presentation"><a href="/songs/new">Add New Song</a></li>
    <li role="presentation"><a href="/songs/topten/">Top Ten Songs</a></li>
    <li role="presentation"><a href="/songs/">See All Songs</a></li>
  </ul>

<div class="well">
  <h3>
    Song: <%= @song.song_title %><br />
    Votes: <%= @song.votes.count %>
  </h3>

  <p>
    by: <%= @song.author %><br />
    <% if @song.user_id %>
      posted by: <%= User.find_by(id: @song.user_id).username %>
    <% end %>
  </p>

  <p>
    <% if @song.url? %>
      <a href ='<%= @song.url %>'><%= @song.url %></a>
    <% end %>
  </p>

<div class ="well">
  <% if Review.find_by(song_id: @song.id) %>
    <strong>Reviews:</strong>
    <p>
    <% Review.where(song_id: @song.id).each do |review| %>
      <div class = "review">
      <%= review.content %></a> <small>(by: <%= User.find_by(id: review.user_id).username %> at <%= review.created_at %>)</small></h3>
      </div>
   <% end %>
   </p>
  <p>Disagree? Sign up and have your say!</p>
  <% end %>
</div>

<% end %>











